[	
    {pphpp, [
    	{services,[
    		{example_php_service,[
    			%required
				{php_exec,"/usr/bin/php"},
				{php_script,"/home/carlos/src/pphpp/php/test.php"}%,
				%optional
				%{php_args,["arg1","arg2",...]}
				%{php_env ,[{"NAME","value"},...]},
				%{php_working_dir,"/home/dude"}
				%{php_max_calls,100},
				%{php_call_timeout,3000}
    		]} %,
    		%{another_service,[{php_exec,"/usr/bin/php"},...]}
    	]} 
    ]}
].
